$pistachio: #B6CBB8;
$black: #202F2F;
$white: #FFFFFF;
$light-gray: #F7F7F7;
$gray: #DDDDDD;
$transparent-gray: rgba(32, 47, 47, 0.1);
$transparent-black: rgba(32, 47, 47, 0.9);
$transparent: rgba(32, 47, 47, 0);
