$pistachio: #b6cbb8;
$black: #202f2f;
$white: #ffffff;
$light-gray: #f7f7f7;
$gray: #dddddd;
$transparent-gray: rgba(32, 47, 47, 0.1);
$transparent-black: rgba(32, 47, 47, 0.9);
$transparent: rgba(32, 47, 47, 0);
