@import 'variables';
@import 'reset';

h1 {
  font-family: 'Crimson Text', serif;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 48px;
}

h2 {
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
}

h3, button {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight:700;
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: 24px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
}
