@import 'variables';
@import 'reset';

h1 {
  font-family: 'Crimson Text', serif;
  font-size: calc(48px + 1vw);
  letter-spacing: 0;
  line-height: 48px;
  color: $white;
  white-space: nowrap;
}

h2 {
  font-family: 'Crimson Text', serif;
  font-size: calc(18px + 0.5vw);
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  color: $black;
}

h3, button {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight:700;
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  color: $black;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  color: $black;
}
